<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.BlockMapper">
	<insert id="block" parameterType="BlockDTO">
		insert into t_block (m_id, block_id, block_date) values
		(#{m_id}, #{block_id}, sysdate)
	</insert>
	<delete id="unBlock" parameterType="BlockDTO">
		delete from t_block where m_id = #{m_id} and block_id = #{block_id}
	</delete>
</mapper>