<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.BoardMapper">
	<insert id="upload" parameterType="BoardDTO">
		INSERT INTO t_board
		( m_id, b_content, b_filename, b_date, b_likes, b_cnt, b_point)
		VALUES ( #{b_writer}, #{b_content}, #{b_filename}, sysdate, 0, 0, 0)
	</insert>
	
	<delete id="deleteBoard" parameterType="BigDecimal">
	delete from t_board where b_num = #{b_num}
	</delete>
	<select id="countBoard" parameterType="String" resultType="int">
		SELECT count(*) from t_board
		WHERE m_id = #{m_id}
	</select>

	<select id="showBoard" parameterType="String" resultType="BoardDTO">
		select * from t_board
		WHERE m_id in (select follow_id from t_follow where m_id = #{m_id}) or m_id = #{m_id} 
	</select>
	
	<select id="showUsefulBoard" parameterType="String" resultType="BoardDTO">
		select * from t_board
		WHERE b_num in (select b_num from t_usefulboard where m_id = #{m_id}) and m_id != #{m_id}
	</select>
	
	<select id="isLiked" parameterType="LikesDTO" resultType="int">
		SELECT count(*) from t_usefulBoard where m_id = #{m_id} and
		b_num = #{b_num}
	</select>
	
	<insert id="LikesPlus" parameterType="LikesDTO">
		INSERT INTO t_usefulBoard (m_id, b_num) VALUES (#{m_id},#{b_num})
	</insert>
	
	<delete id="LikesMinus" parameterType="LikesDTO">
		delete from t_usefulBoard where m_id = #{m_id} and b_num = #{b_num}
	</delete>
	
	<update id="setCount" parameterType="BigDecimal">
		update t_board set b_likes= (SELECT count(*) FROM t_usefulBoard where b_num =#{b_num}) 
		where b_num=#{b_num}  
	</update>
	<select  id="showDetail" parameterType="int" resultType="BoardDTO">
		select * from t_board
		WHERE b_num = #{b_num}
	</select>
		
</mapper>