<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.CommentMapper">
	
	<select id="showComment" parameterType="BigDecimal"
		resultType="CommentDTO">
	select * from t_comment where b_num = #{b_num}
	</select>
	
	<insert id="writeComment" parameterType="CommentDTO">
	INSERT INTO t_comment (b_num, cmt_content, cmt_date, m_id, cmt_likes) VALUES (#{b_num}, #{cmt_content}, sysdate, #{cmt_id}, 0)
	</insert>
	
	
</mapper>