<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.CommentMapper">
	
	<select id="showComment" parameterType="BigDecimal"
		resultType="CommentDTO">
	select * from t_comment where b_num = #{b_num}
	</select>
	
	<insert id="writeComment" parameterType="CommentDTO">
	INSERT INTO t_comment (b_num, cmt_content, cmt_date, m_id, cmt_likes) VALUES (#{b_num}, #{cmt_content}, sysdate, #{cmt_id}, 0)
	</insert>
	
	<select id="showReviewComment" parameterType="BigDecimal"
		resultType="ReviewCommentDTO">
	select * from T_REVIEW_COMMENT where r_num = #{r_num} order by r_c_date desc
	</select>
	
	<insert id="writeReviewComment" parameterType="ReviewCommentDTO">
	INSERT INTO T_REVIEW_COMMENT (r_num, r_c_content, r_c_date, m_id, r_c_like) VALUES (#{r_num}, #{r_c_content}, sysdate, #{m_id}, 0)
	</insert>
	
	
</mapper>