<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.FollowMapper">
	<insert id="follow" parameterType="FollowDTO">
		insert into t_follow (m_id,
		follow_id, f_date) values
		(#{m_id}, #{follow_id}, sysdate)
	</insert>
	<delete id="unFollow" parameterType="FollowDTO">
		delete from t_follow where
		m_id = #{m_id} and follow_id = #{follow_id}
	</delete>

	<select id="countFollow" parameterType="String" resultType="int">
		SELECT count(*) FROM t_follow
		WHERE m_id = #{m_id}
	</select>

	<select id="countFollower" parameterType="String"
		resultType="int">
		SELECT count(*) FROM t_follow
		WHERE follow_id = #{m_id}
	</select>

	<select id="followCheck" parameterType="FollowDTO"
		resultType="int">
		SELECT count(*) from t_follow where m_id = #{m_id} and
		follow_id = #{follow_id}
	</select>

</mapper>