<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.MemberMapper">
	<insert id="join" parameterType="MemberDTO">
		insert into t_member(M_ID, M_PW,
		M_EMAIL, M_NICKNAME, M_PHONE, M_JOINDATE, M_PROFILE, M_POINT, M_TYPE, M_PIC)
		values(#{m_Id}, #{m_Pw}, #{m_Email}, #{m_Nickname}, #{m_Phone}, 
		sysdate,'자기소개를 입력하세요','0','u','사용자프로필.png')
	</insert>

	<select id="login" parameterType="MemberDTO"
		resultType="MemberDTO">
		select * from t_member where m_Id = #{m_Id} and m_Pw =
		#{m_Pw}
	</select>
	
	<select id="information" parameterType="String"
		resultType="MemberDTO">
		select * from t_member where m_Id = #{m_Id}
	</select>


	<select id="IDCheck" parameterType="String" resultType="boolean">
		select
		case when count(*) > 0 then 1 else 0 end result from t_member where
		m_id = #{inputID}
	</select>

	<select id="showAll" parameterType="String"
		resultType="MemberDTO">
		SELECT * FROM t_member WHERE m_id not in #{m_id}
	</select>


	<update id="profileUpdate" parameterType="MemberDTO">
		UPDATE t_member SET m_nickname = #{m_Nickname}, m_profile = #{m_Profile}
		WHERE m_id = #{m_Id}
	</update>
	
	<update id="privacyUpdate" parameterType="MemberDTO">
		UPDATE t_member SET m_pw = #{m_Pw}, m_phone = #{m_Phone}, m_email = #{m_Email}
		WHERE m_id = #{m_Id}
	</update>
</mapper>