<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.MemberMapper">
	<insert id="join" parameterType="MemberDTO">
		insert into t_member(M_ID, M_PW, M_NAME, M_NICKNAME, M_PHONE, M_JOINDATE, M_PROFILE, M_POINT, M_TYPE)
		values(#{m_Id}, #{m_Pw}, #{m_Name}, #{m_Nickname}, #{m_Phone},
		sysdate,'자기소개를 입력하세요','0','u')
	</insert>
	
	<select id="login" parameterType="MemberDTO" resultType="MemberDTO">
		select * from t_member where m_id = #{m_Id} and m_Pw = #{m_Pw}
	</select>


	<select id="IDCheck" parameterType="String" resultType="boolean">
		select
		case when count(*) > 0 then 1 else 0 end result from t_member where
		m_id = #{inputID}
	</select>
</mapper>