<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.smhrd.mapper.PolicyMapper">
	<!-- 정책 게시글 업로드 -->
	<insert id="p_upload" parameterType="PolicyDTO">
		INSERT INTO t_Policy
		( p_title, admin_id, p_content, p_filename, p_date, p_likes, p_cnt)
		VALUES (#{p_title}, #{admin_id}, #{p_content}, #{p_filename}, sysdate, 0, 0)
	</insert>

	<select id="showPolicy" resultType="PolicyDTO">
		select * from t_Policy order by p_date desc
	</select>

	<!-- 정책 수정 -->
	<update id="p_update" parameterType = "PolicyDTO">
		update t_Policy set p_content = #{p_content}, p_filename = #{p_filename}, p_title = #{p_title}
		where admin_id = 'admin'
	<!--	정책 수정은 admin만 가능한데 일단은 admin이 로그인해서 들어가면 되니까 정책 테이블에 들어가서 수정하면 된다
			1. 아이디 들어가서 수정 
			2. 어드민만 들어가게 수정
	 -->
	</update>
	
</mapper>