<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties resource="com/smhrd/db/db.properties" />

	<typeAliases>
		<typeAlias type="com.smhrd.model.MemberDTO" alias="MemberDTO" />
		<typeAlias type="com.smhrd.model.BlockDTO" alias="BlockDTO" />
		<typeAlias type="com.smhrd.model.FollowDTO" alias="FollowDTO" />
		<typeAlias type="com.smhrd.model.BoardDTO" alias="BoardDTO" />
		<typeAlias type="com.smhrd.model.CommentDTO" alias="CommentDTO" />
		<typeAlias type="com.smhrd.model.PolicyDTO" alias="PolicyDTO" />
		<typeAlias type="com.smhrd.model.LikesDTO" alias="LikesDTO" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="com/smhrd/mapper/MemberMapper.xml"/>
		<mapper resource="com/smhrd/mapper/BlockMapper.xml"/>
		<mapper resource="com/smhrd/mapper/FollowMapper.xml"/>
		<mapper resource="com/smhrd/mapper/BoardMapper.xml"/>
		<mapper resource="com/smhrd/mapper/CommentMapper.xml"/>
		<mapper resource="com/smhrd/mapper/PolicyMapper.xml"/>
	</mappers>
</configuration>