.hori_cont {
    display: flex;
    margin-bottom: 30px;
}

.profile_wrap {
    width: 40%;

}

.profile_img {
    width: 152px;
    height: 152px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

.profile_img img {
    width: 100%;
    height: 100%;
}


.detail {
    /*display: flex;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
}

.detail .top {
    display: flex;
    align-items: center;
}

.detail .top .user_name {
    font-size: 35px;
    font-weight: 200;
    display: inline-block;
    padding-right: 25px;
    margin-top: 10px;
}

.detail .top>a {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    padding: 3px 20px;
    font-weight: 600;
    vertical-align: text-bottom;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 13px;
}
/* 버튼 수정 */
.detail .top .admin_btn>a {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    padding: 3px 20px;
    font-weight: 600;
    vertical-align: text-bottom;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 13px;
}
/* other profile 버튼 수정 */
.detail .top .other_btn>a {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    color: #262626;
    padding: 3px 20px;
    font-weight: 600;
    vertical-align: text-bottom;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 13px;
}

.detail .middle {
    display: flex;
    height: 50px;
    padding: 18px 0;
    font-size: 15px;
    font-weight: 600;
}


.detail .middle>li {
    margin-right: 35px;
}

.detail .about>span {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.detail .about>span:nth-child(1) {
    margin-right: 50px;
}


.detail .about>span:after {
    content: '';
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: all 0.5s;
    background: #dd2d76;
}

.detail .about>span.on:after {
    width: 100%;
}

.contents_container {
    /*display: flex;*/
    flex-wrap: wrap;
    justify-content: flex-start;
    display: none;
}


.contents_container.active {
    display: flex;
}

.contents_container .pic {
     max-width: 300px;
    max-height: 300px; 
    overflow: hidden;
    margin : 5px;
	

}

.contents_container .pic img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width:1000px) {

    .contents_container {
        justify-content: center;

    }


    .contents_container .pic {
        margin: 10px;
    }
}



