<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.test.test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginService</servlet-name>
  	<display-name>LoginService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LoginService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutService</servlet-name>
  	<display-name>LogoutService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.LogoutService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BoardService</servlet-name>
  	<display-name>BoardService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BoardService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinService</servlet-name>
  	<display-name>JoinService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.JoinService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ProfileUpdateService</servlet-name>
  	<display-name>ProfileUpdateService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ProfileUpdateService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>IDCheckService</servlet-name>
  	<display-name>IDCheckService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.IDCheckService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteBoardService</servlet-name>
  	<display-name>DeleteBoardService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteBoardService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteReviewService</servlet-name>
  	<display-name>DeleteReviewService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteReviewService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CommentService</servlet-name>
  	<display-name>CommentService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.CommentService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteCommentService</servlet-name>
  	<display-name>DeleteCommentService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.DeleteCommentService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReviewService</servlet-name>
  	<display-name>ReviewService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.ReviewService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FollowService</servlet-name>
  	<display-name>FollowService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.FollowService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BlockService</servlet-name>
  	<display-name>BlockService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.BlockService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PolicyService</servlet-name>
  	<display-name>PolicyService</display-name>
  	<description></description>
  	<servlet-class>com.smhrd.controller.PolicyService</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginService</servlet-name>
  	<url-pattern>/LoginService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutService</servlet-name>
  	<url-pattern>/LogoutService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BoardService</servlet-name>
  	<url-pattern>/BoardService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinService</servlet-name>
  	<url-pattern>/JoinService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ProfileUpdateService</servlet-name>
  	<url-pattern>/ProfileUpdateService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>IDCheckService</servlet-name>
  	<url-pattern>/IDCheckService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteBoardService</servlet-name>
  	<url-pattern>/DeleteBoardService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteReviewService</servlet-name>
  	<url-pattern>/DeleteReviewService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CommentService</servlet-name>
  	<url-pattern>/CommentService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteCommentService</servlet-name>
  	<url-pattern>/DeleteCommentService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReviewService</servlet-name>
  	<url-pattern>/ReviewService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FollowService</servlet-name>
  	<url-pattern>/FollowService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BlockService</servlet-name>
  	<url-pattern>/BlockService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PolicyService</servlet-name>
  	<url-pattern>/PolicyService</url-pattern>
  </servlet-mapping>
 
</web-app>
